<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body >
  <header>
    <%- include('../partials/nav') %>
  </header>

<div class="tabs is-toggle is-centered is-large" style="margin: 0%; background-color: rgb(56, 40, 40)">
  <ul>
    <li>
      <a href="/add">
        <span>Add Wine</span>
      </a>
    </li>
    <li class="is-active">
      <a href="/cellar">
        <span>Your Wine Cellar</span>
      </a>
    </li>
  </ul>
</div>
<section class="hero is-fullheight" style = "background-image: url('https://images.unsplash.com/photo-1534655882117-f9eff36a1574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
background-attachment: fixed;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
height:100%">
<table class="table is-hoverable is-fullwidth is-bordered" >
  <thead>
    <tr>
      <th><abbr title="Name">Name</abbr></th>
      <th><abbr title="Region">Region</abbr></th>
      <th><abbr title="Type">Type</abbr></th>
      <th><abbr title="Grape">Grape</abbr></th>
      <th><abbr title="Quantity">Quantity</abbr></th>
      <th><abbr title="Notes">Notes</abbr></th>
      <th class = "text-end"><abbr title="Modify">Action</abbr></th>
    </tr>
  </thead>
  <tbody>
  <% for(var i=0; i<wines.length; i++) { %>
    <tr>
      <th><%= wines[i].data().wineName %></th>
      <td><%= wines[i].data().region %></td>
      <td><%= wines[i].data().type %></td>
      <td><%= wines[i].data().grape %></td>
      <td><%= wines[i].data().quantity %></td>
      <td><%= wines[i].data().notes %></td>
      <td class = "text-end"> 
        <a href = "/edit/<%= wines[i].id %>" type = "button" class = "btn btn-light btn-small"><i class="bi bi-eye"></i>Edit</a>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>

</section>

</body>
<%- include('../partials/footer') %>
</html>