<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>


<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

<div class="tabs is-toggle is-centered is-large" style="margin: 0%; background-color: rgb(56, 40, 40)">
  <ul>
    <li class="is-active" style="background-color: chocolate;">
      <a href="/dashboard1">
        
        <span style="text-align: center">Edit Wine</span>
      </a>
    </li>
    <li>
      <a href="/cellar">
        
        <span style="text-align: center">Your Wine Cellar</span>
      </a>
    </li>
  </ul>
</div>


<section class="hero is-fullheight" style = "background-image: url('https://images.unsplash.com/photo-1534655882117-f9eff36a1574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
background-attachment: fixed;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
height:100%">
<form id="edit-wine" class="columns" style="margin: 0%">
  <div class="column is-two-fifths">
    <div class="control">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="id" type="hidden" value="<%= wineid %>">
            <input class="input" name="wineName" type="text" value="<%= wine.wineName %>">
          </div>
        </div>
      </div>  

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Region</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="region" type="text" value="<%= wine.region %>">
          </div>
        </div>
      </div> 
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Type</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="type" type="text" value="<%= wine.type %>">
          </div>
        </div>
      </div> 

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Grape</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="grape" type="text" value="<%= wine.grape %>">
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Quantity</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="quantity" type="number" value="<%=wine.quantity %>">
          </div>
        </div>
      </div>
  
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Notes</label>
        </div>
        <div class="field-body">
          <div class="field">
            <textarea class="textarea" name="notes"><%= wine.notes %></textarea>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="column" >
    <button class = 'button is-success is-light is-large'>
      <i class="fas fa-align-center"></i>
      Edit Cellar
      
    </button>
  </div>
</form>
</section>
</body>

<%- include('../partials/footer') %>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyD2mq8xNyBnsS_toanHaMopNS3umfEzC-k",
      authDomain: "winecellar2022.firebaseapp.com",
      projectId: "winecellar2022",
      storageBucket: "winecellar2022.appspot.com",
      messagingSenderId: "971652091709",
      appId: "1:971652091709:web:329a62af128c629f267f54"
    };

    const app = firebase.initializeApp(firebaseConfig);

    document
            .getElementById("edit-wine")
            .addEventListener("submit", (event) => {
              event.preventDefault();
              const id = event.target.id.value;
              const wineName = event.target.wineName.value;
              const region = event.target.region.value;
              const type = event.target.type.value;
              const grape = event.target.grape.value;
              const quantity = event.target.quantity.value;
              const notes = event.target.notes.value;

              fetch('/editWine',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                  id,
                  wineName,
                  region,
                  type,
                  grape,
                  quantity,
                  notes
                })
              }).then(()=> {
                window.location.assign('/cellar')
              })
            })
  };
</script>

</html>